.lineaDivision {
    color: red;
    height: 20px;
}

.propsDetalle {
    color: red;
    font-size: 30px;
}

.favorite {
    color: yellow;
}

.noFavorite{
    color: #ccc;
}


.botonFavorito{
    border: 1px yellow solid;
}

.botonFavorito:hover{
    border: 1px yellow solid;
}